mnt-homeworks
ter-homeworks

develop
my_own_collection

# local ansible files
.ansible

# Local .terraform directories and files,
**/.terraform/*
.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
*personal.auto.tfvars*



terraform.*
key.json
.terraform
.terraform*

ter-homeworks/*

*.dll
*.exe
.DS_Store
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

/terraform

website/vendor
vendor/

vagrant/*

desc*
tasks*
# Coverage
coverage.txt
Dockerfile
Docker/*
ansible.cfg
*.txt
key.json
src/*
src*

